body {
  padding-bottom: 40px;
  color: #5a5a5a;
  width: 100%;
}

a {
  display: inline-block;
}

.sub-title {
  /*right: 0;*/
}

.title {
  /* position: absolute; */
  margin: 0 auto;
  /* top: 100px; */
  padding: 0px 24px;
  /* color: #DDD27E; */
  display: inline-block;
}

.title h1 {
  font-size: 75px;
}

.title h2 {
  font-size: 30px;
}


@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-wrapper .navbar {
    padding-left:  15px;
    padding-right: 0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .small {
    height:110%;
  }

  .title {
    top: 100px;
    padding: 0px 24px;
  }

  .title h1 {
    font-size: 200px;
  }

  .title h2 {
    font-size: 50px;
  }

  .sub {
    top: 400px;
  }

}


/*circle*/

.circle {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  background: red;
  display: inline-block;
  margin: 0 50px;
}

.text {
  border-radius: 300px;
  width: 300px;
  height: 300px;
  -webkit-border-radius: 300px;
  margin: auto;
}

.face {
  background: url('./images/myFace.jpg') no-repeat;
  overflow: hidden;
  background-size: 100% auto;
}

/*backgrounds *****/
.background {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.id1 .background {
  /*background-image: url('./images/cityPark.jpg');*/
}

.id2 .background {
  background-image: url('./images/aloha.jpg');
}

.id3 .background {
  background-image: url('./images/muir.jpg');
  position: inherit;
}

.id4 .background {
  background-image: url('./images/breckenridge.jpg');
}

.id5 .background{
  background-image: url('./images/skulls.png');
  background-repeat: repeat;
  background-size: auto;
}

.id5 {
  position: relative;
}
/* front page *****/
.front-page-pictures {
  background-size: cover;
  width: 100%;
  height: 500px;
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 100px;
  border: 1px solid #000;
}

.frontpage {
  background-size: cover;
  width: 300px;
  height: 100%;
  display:inline-block;
}

.beach {
  background-image: url('./images/frontPage/beach.jpg');
  background-position-x: -100px;
}

.colorado {
  background-image: url('./images/frontPage/colorado.jpg');
  background-position-x: -350px;
  background-size: 700px;
}
.disneyland {
  background-image: url('./images/frontPage/disneyland.jpg');
  background-position-x: -150px;
  background-size: 700px;
}
.firecracker {
  background-image: url('./images/frontPage/firecracker.jpg');
  background-position-x: -222px;
  background-size: 800px;
}
.santa {
  background-image: url('./images/frontPage/santa.jpg');
}
.seattle {
  background-image: url('./images/frontPage/seattle.jpg');
  background-position-x: -110px;
}
/* end front page *****/
.backImg.small-width{
  width: 100%;
  height: auto;
}
/* end backgrounds *****/

/*     content     */
.content {
  overflow-x: hidden;
}

.contact-me-segment {
  width: 100%;
  text-align: center;
  background: url('./images/psNeutral.png');
  padding: 30px;
  height: 420px;
  position:fixed;
}

.contact-me-segment h1 {
  text-align: left;
  position: absolute;
}

/*      end content     */
.contact-group {
  display: inline-block;
  width: 65px;
}

.contact-info-link span {
  line-height: 40px;
}

#photo-circles {
  position: relative;
}

#photo-circles .circle {
  border: 1px solid black;
}

.photo-circle-element {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-position: 50%;
}

#love-block {
  padding: 50px;
}

#love-block, .block-text{
  font-size: 50px;
  color: #7e1919;
  font-weight: 800;
  text-align: center;
}

.block-text>p {
  text-transform: uppercase;
  text-align: left;
  margin-left: 200px;
}

.block-text>p:first-child {
  margin: 0;
  font-size: 70px;
  position: fixed;
}

.uppercase {
  text-transform: uppercase;
}

.contact {
  width: 100px;
  height: 100px;
  display: inline;
  fill: red;
}

.reloadPhotos {
  background: #6767BD;
  width: 100px;
  height: 39px;
  border-style: none;
  line-height: 12px;
  border: 3px #553232 solid;
  color: #C5EBF5;
}

.photoModalBack {
  position: fixed;
  top: 0;
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.photoModal {
  border-radius: 11px;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
}

/* work/resume *****/
.allWork {
  margin: 0 auto;
  width: 880px;
}

.work {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px;
  color: #24DCFF;
  text-align: center;
  padding-top: 189px;
  font-size: 40px;
}

.coloradosae {
  background-image: url('./images/work/coloradosae.png');
}

.padshacker {
  background-image: url('./images/work/padshacker.png');
}

.radar {
  background-image: url('./images/work/radar.png');
}

.resumeIcons div {
  height: 70px;
  width: 70px;
  display: inline-block;
  position: relative;
  right: 70px;
  background-repeat: no-repeat;
  background-size: 70px;
}
/* end work *****/