body {
  padding-bottom: 40px;
  color: #5a5a5a;
  width: 100%;
  overflow-x: hidden;
}

a {
  display: inline-block;
}

.sub {
  top: 400px;
}

.right {
  right: 0px;
}

.title {
  position: absolute;
  margin: 0 auto;
  top: 100px;
  padding: 0px 24px;
  color: rgb(221, 210, 126);
}

.title h1 {
  font-size: 75px;
}

.title h2 {
  font-size: 30px;
}


@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-wrapper .navbar {
    padding-left:  15px;
    padding-right: 0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .small {
    height:110%;
  }

  .title {
    top: 100px;
    padding: 0px 24px;
  }

  .title h1 {
    font-size: 200px;
  }

  .title h2 {
    font-size: 50px;
  }

  .sub {
    top: 400px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/*circle*/

.circle {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  background: red;
  display: inline-block;
  margin: 0 50px;
}

.text {
  border-radius: 300px;
  width: 300px;
  height: 300px;
  -webkit-border-radius: 300px;
  margin: auto;
}

.face {
  background: url('./images/myFace.jpg') no-repeat;
  overflow: hidden;
  background-size: 100% auto;
}

.backImg {
  margin: auto;
  height: 110%;
  width: auto;
}

.backImg.small-width{
  width: 100%;
  height: auto;
}

/*     content     */
.content {
  overflow-x: hidden;
}

.contact-me-segment {
  width: 100%;
  text-align: center;
  background: url('./images/psNeutral.png');
  padding: 30px;
  margin: 250px 0;
  height: 520px;
  position: absolute;
}
/*      end content     */

#photo-circles {
  position: relative;
  height: 200px;
}

#photo-circles .circle {
  border: 1px solid black;
}

.photo-circle-element {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-position: 50%;
}

#love-block {
  height: 825px;
}

#love-block, .block-text{
  font-size: 50px;
  color: white;
  font-weight: 800;
  text-align: center;
}

.block-text>p {
  text-transform: uppercase;
  text-align: left;
  margin-left: 50px;
}

.block-text>p:first-child {
  margin: 0;
  font-size: 70px;
}

.uppercase {
  text-transform: uppercase;
}

.contact {
  width: 100px;
  height: 100px;
  display: inline;
  fill: red;
}

.hover-fill {
  fill: red;
}

.red {
  background-color: red;
}
