/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  width: 100%;
  overflow-x: hidden;
}

.container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.small {
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  margin: 0 auto;
  top: 100px;
  padding: 0px 24px;
  color: rgb(221, 210, 126);
}

.title h1 {
  font-size: 75px;
}

.title h2 {
  font-size: 30px;
  font-family: 'Poiret One', cursive;
}

.sub {
  top: 400px;
}

.right {
  right: 0px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.collapse {
  height: 1px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  width: 100%;
  text-align: center;
  background: rgb(142, 142, 196);
  padding: 30px;
  margin: 450px 0;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: -15px;
    padding-right: -15px;
  }

  /* Navbar positioning foo */
  .navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-wrapper .navbar {
    padding-left:  15px;
    padding-right: 0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .small {
    height:110%;
  }

  .title {
    top: 100px;
    padding: 0px 24px;
  }

  .title h1 {
    font-size: 200px;
  }

  .title h2 {
    font-size: 50px;
  }

  .sub {
    top: 400px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/*circle*/

.circle {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  background: red;
  display: inline-block;
  margin: 0 50px;
}

.text {
  border-radius: 300px;
  width: 300px;
  height: 300px;
  -webkit-border-radius: 300px;
  margin: auto;
}

.face {
  background: url('./images/myFace.jpg') no-repeat;
  overflow: hidden;
  background-size: 100% auto;
}


.backImg {
  height: 110%;
  margin: auto;
  position:absolute;
}

.part {
  width: 100%;
  text-align: center;
  /*background: rgb(142, 142, 196);*/
  background: url('./images/psNeutral.png');
  padding: 30px;
  margin: 250px 0;
  position: relative;
}

.content {
  margin-top: 600px;
}

#top {
  position:fixed; 
  top: 500px; 
  left: 20px;
  z-index: 10;
  font-size: 20px;
  color: orange;
}

.block-text {

}

.uppercase {
  text-transform: uppercase;
}

.contact {
  width: 100px;
  height: 100px;
  
}

#linkedin {
  /*-webkit-filter: invert(100%);  */
}
