.circle
  border-radius: 100px
  width: 100px
  height: 100px
  -webkit-border-radius: 100px
  background: red
  display: inline-block
  margin: 0 50px

.text
  border-radius: 300px
  width: 300px
  height: 300px
  -webkit-border-radius: 300px
  margin: auto

.face
  background: url(images-directory + '/myFace.jpg') no-repeat
  overflow: hidden
  background-size: 100% auto

.content
  overflow-x: hidden

.contact-me-segment
  width: 100%
  text-align: center
  background: url(images-directory + 'psNeutral.png')
  padding: 30px
  height: 420px
  position:fixed

.contact-me-segment h1
  text-align: left
  position: absolute

.contact-group
  display: inline-block
  width: 65px
  a
    color: #428bca
    :hover
      color: #2a6496

.contact-info-link span
  line-height: 40px