.allWork
  margin: 0 auto
  width: 880px

.work
  width: 250px
  height: 250px
  background-repeat: no-repeat
  background-position: center
  margin: 20px
  color: #24DCFF
  text-align: center
  padding-top: 189px
  font-size: 40px

.resumeIcons div
  height: 70px
  width: 70px
  display: inline-block
  position: relative
  right: 70px
  background-repeat: no-repeat
  background-size: 70px